html,
body {
  height: 90%;
}

body > div {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myGlyphMarginClass {
  background: red;
}

.myContentClass {
  background: #3a3d41;
}
